.left-right {
	display: flex;
	margin-top: 10px;
}

.side-bar {
	display: flex;
	width: 250px;
	height: 900px;
	background: #E0F7F7;;
	padding-left: 36px;
	padding-top: 48px;
}

.side-bar-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.side-bar-item a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: 500;
}

.sidebar-line {
	width: 187px;
	height: 1px;
	background: #000;
}

.allProduct {
	width: 100%;
}

.allProductsDiv {
	height: 900px;
	width: 100%;
	background: wheat;
}

.productDiv {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	border-bottom: 1px solid black;
	padding: 27px
}

.pName{
	
}
.pCategory{
	
}

.discriptionDox {
	width: 280px;
}
.pDiscGroup{
	display: flex;
	justify-content: space-between;
}
.pdfimg{
	display: flex;
	justify-content: space-around;
	 align-items: center;
}
.productDiv p{
	margin: 0;
}
.pDiscGroup1{
	min-width: 200px;
}
