<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="product.css" />
  </head>
  <body>
    <section class="sec-navbar">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="images/navLogo.svg" alt="Logo" class="brand-logo" />
        </a>
        <a class="navbar-brand-mobile" href="#">
          <img src="images/navLogo.svg" alt="Logo" class="brand-logo-m" />
        </a>

        <!-- Toggler -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNav"
          aria-controls="mainNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="38"
              height="20"
              viewBox="0 0 38 20"
              fill="none"
            >
              <path
                d="M16 2L36 2"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
              />
              <path
                d="M9 10L36 10"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
              />
              <path
                d="M2 18L36 18"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
              />
            </svg>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{product}">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{aboutUs}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{contact}">Contact</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" th:href="@{cart}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21" fill="none">
  <path d="M23.7858 5.06401C23.6754 4.91209 23.528 4.78792 23.3562 4.70213C23.1844 4.61635 22.9934 4.5715 22.7994 4.57144H6.39943L5.01467 1.40573C4.83363 0.988478 4.52631 0.631986 4.13182 0.38165C3.73734 0.131314 3.27355 -0.00153784 2.79953 1.34317e-05H0V2.28573H2.79953L8.49218 15.2971C8.58336 15.5053 8.73718 15.6831 8.93427 15.8082C9.13136 15.9333 9.36291 16 9.59975 16H19.1995C19.6999 16 20.1475 15.704 20.3239 15.2594L23.9238 6.11658C23.9918 5.94358 24.0148 5.75744 23.9908 5.57412C23.9667 5.39081 23.8964 5.21577 23.7858 5.06401ZM18.3679 13.7143H10.4001L7.4002 6.85715H21.0678L18.3679 13.7143Z" fill="#333333"/>
  <path d="M11 21C12.1046 21 13 20.1046 13 19C13 17.8954 12.1046 17 11 17C9.89543 17 9 17.8954 9 19C9 20.1046 9.89543 21 11 21Z" fill="#333333"/>
  <path d="M19 21C20.1046 21 21 20.1046 21 19C21 17.8954 20.1046 17 19 17C17.8954 17 17 17.8954 17 19C17 20.1046 17.8954 21 19 21Z" fill="#333333"/>
</svg></a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
<div class="cart-section">
    <div class="cart-card" th:each="product : ${cartItems}">
        <div class="cart-image">
            <img th:src="@{${product.imageUrl}}" alt="Product Image">
        </div>
        <div class="cart-details">
            <h3 th:text="${product.name}">Silver Nanopartical</h3>
            <p>
                <span>Sample Qty:</span> 1g upto<br>
                <span>CAS No.:</span> <span th:text="${product.casNo}">1309-37-1</span><br>
                <span>Price:</span> <span th:text="${product.price}">$234</span>
            </p>
        </div>
        <div class="cart-actions">
            <div class="qty-controls">
                <button>-</button>
                <span th:text="${product.quantity}">1</span>
                <button>+</button>
            </div>
            <div class="total-price">
                Total Price <span th:text="'Rs. ' + ${product.totalPrice}">Rs. 000</span>
            </div>
        </div>
    </div>
</div>
    <footer class="footer">
      <div class="container">
        <img
          src="images/footerLogo.svg"
          alt="SR Logo"
          class="footer-logo-mob"
          width="40"
        />

        <div class="row text-center text-md-start align-items-start">
          <div class="col-md-3 mb-4">
            <h5>Quick links</h5>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <div class="footer-horizontal-line"></div>
              <li><a href="#">Products</a></li>
              <div class="footer-horizontal-line"></div>
              <li><a href="#">Technical Resources</a></li>
              <div class="footer-horizontal-line"></div>
              <li><a href="#">About Us</a></li>
              <div class="footer-horizontal-line"></div>
              <li><a href="#">Contact</a></li>
              <div class="footer-horizontal-line"></div>
            </ul>
          </div>

          <div class="col-md-1 d-none d-md-flex justify-content-center">
            <div class="vertical-line"></div>
          </div>

          <div class="col-md-3 mb-4 footer-desktop">
            <h5>Contact</h5>
            <p>
              GAT NO 300/B/3, KHATE NO 276, KHEDE, Vanasgaon, Niphad, Nashik-
              422304, Maharashtra
            </p>
            <p>hardasassociate45@gmail.com</p>
            <p>+91 95118 07813</p>
          </div>

          <div class="col-md-1 d-none d-md-flex justify-content-center">
            <div class="vertical-line"></div>
          </div>

          <div class="col-md-4 mb-4 mailflex-mob">
            <h5>Stay Connected with Innovation</h5>
            <p style="font-size: 14px">
              Subscribe to receive the latest updates on our product
              launches,<br />
              research insights, and industry trends — straight to your inbox
            </p>
            <input type="email" placeholder="Your Mail" id="emailInput" />
            <br />
            <button type="button" onclick="subscribe()">Subscribe Now</button>
          </div>
        </div>
        <div class="footer-horizontal-line"></div>
        <div class="col-md-3 mb-4 footer-contact-mob">
          <h5>Contact</h5>
          <p>
            GAT NO 300/B/3, KHATE NO 276, KHEDE, Vanasgaon, Niphad, Nashik-
            422304, Maharashtra
          </p>
          <p>hardasassociate45@gmail.com</p>
          <p>+91 95118 07813</p>
        </div>
        <img
          src="images/footerLogo.svg"
          alt="SR Logo"
          class="footer-logo"
          width="40"
        />
      </div>
      <div class="footer-bottom">@Design By Codesigner CAfe in 2025</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>